<section>
	<div class="hg-header">
		<div class="hg-left">
			<a href="/" mat-mini-fab class="hg-home-button">
				<mat-icon>home</mat-icon>
			</a>
			<div>
				<p class="hg-meeting-title">{{ meeting_title }}</p>
				<p class="hg-meeting-dime">{{ meeting_time }}</p>
			</div>
		</div>
		<div class="hg-right">
			<button mat-icon-button>
				<mat-icon>email</mat-icon>
			</button>
			<button mat-icon-button>
				<mat-icon>notifications</mat-icon>
			</button>
			<img src="assets/images/avatar.jpg" alt="avatar" class="hg-profile-button" />
		</div>
	</div>
	<div class="hg-body">
		<div class="hg-main-content-wrapper">
			<div class="hg-main-content" #mainView></div>
			<div class="hg-screen-container" #screenContainer>
				<app-peoplescreen></app-peoplescreen>
				<app-peoplescreen></app-peoplescreen>
				<app-peoplescreen></app-peoplescreen>
			</div>
			<div class="hg-main-actions">
				<div class="hg-actions-left">
					<div class="hg-actions-elapsed-time">
						<mat-icon color="warn">fiber_manual_record</mat-icon>
						<span>24:01:15</span>
					</div>
				</div>
				<div class="hg-actions-middle">
					<button mat-mini-fab color="basic" #mic_btn (click)="toggleMic($event, mic_btn)">
						<mat-icon>mic</mat-icon>
					</button>
					<button mat-mini-fab color="basic" #camera_btn (click)="toggleWebcam($event, camera_btn)">
						<mat-icon>videocam</mat-icon>
					</button>
					<button mat-mini-fab color="warn">
						<mat-icon>call_end</mat-icon>
					</button>
					<button mat-mini-fab color="basic">
						<mat-icon>desktop_mac</mat-icon>
					</button>
					<button mat-mini-fab color="basic" (click)="toggleSideTab()">
						<mat-icon>textsms</mat-icon>
					</button>
				</div>
				<div class="hg-actions-right">
					<button mat-mini-fab color="basic" (click)="toggleFullScreen()">
						<mat-icon>fullscreen</mat-icon>
					</button>
					<button mat-mini-fab color="basic">
						<mat-icon>more_vert</mat-icon>
					</button>
				</div>
			</div>
		</div>
		<div class="hg-side-content" *ngIf="sideTabVisible">
			<div class="hg-tabs">
				<button mat-button class="hg-chat-tab">Chat</button>
				<button mat-button class="hg-participants-tab">
					<div matBadge="4" matBadgeColor="warn" matBadgeOverlap="false" matBadgeSize="small" class="demo-section">Participants</div>
				</button>
			</div>
			<div class="hg-search">
				<input type="text" placeholder="Search Text..." />
			</div>
			<div class="hg-side-body">
				<div>
					<p class="hg-primary-typo">In meeting</p>
					<app-peoplelistitem></app-peoplelistitem>
					<app-peoplelistitem></app-peoplelistitem>
					<app-peoplelistitem></app-peoplelistitem>
					<app-peoplelistitem></app-peoplelistitem>
					<app-peoplelistitem></app-peoplelistitem>
				</div>
				<div>
					<p class="hg-primary-typo">Invited people</p>
					<app-peoplelistitem></app-peoplelistitem>
					<app-peoplelistitem></app-peoplelistitem>
				</div>
			</div>
		</div>
	</div>
</section>
