.hg-contact-listitem {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    .hg-contact-listitem-body{
        flex: 1 1 auto;
        .hg-contact-listitem-name{
            color: #fff;
            font-weight: 500;
            margin-bottom: 0;
        }
        .hg-contact-listitem-role{
            color: #aaa;
            margin-bottom: 0;
        }
        }
    .hg-contact-listitem-action {
        flex: 0 0 40px;
        button {
            background-color: transparent;
            width: 32px;
            height: 32px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            color: #24A6AF;
            mat-icon {
                font-size: 20px;
                display: grid;
                place-items: center;
            }
        }
    }
}